$if(has-tables)$
.\"t
$endif$
.TH XDO 1 "$date$" "$title$"
.SH NAME
xdo - Perform actions on windows
$body$
.SH AUTHOR
.MT baskerville@lavabit.com
$author$
.ME
.SH LINKS
.UR https://github.com/baskerville/xdo
Homepage
.UE
